{% extends 'base.html' %}

{% block title %}Protocol Graph{% endblock %}

{% block content %}
<p>
<form method="post" action="/">
    Which graph would you like to see? &nbsp;
    <button class="btn btn-outline-secondary" type="submit" value="TCP" name="tcp"> TCP</button> &nbsp;
    <button class="btn btn-outline-secondary" type="submit" value="UDP" name="udp"> UDP</button> &nbsp;
    <button class="btn btn-outline-secondary" type="submit" value="ICMP" name="icmp"> ICMP</button> &nbsp;
    <button class="btn btn-outline-secondary" type="submit" value="ARP" name="arp"> ARP</button>
</form>
<p>
{% endblock %}